.calc {
	width: 320px;
	margin: 0 auto;
	padding: 25px 0;

	&__title {
		margin-top: 0;

		font-family: $IntroAlt, "Arial", sans-serif;
		text-align: center;
		@include font-options ($GreyFontColor, 25px, bold, 25px);
	}

	&__desc {
		margin-top: 0;
		margin-bottom: 30px;
		text-align: center;
		@include font-options ($GreyFontColor, 18px, 300, 18px);
	}

	&__form {
		padding: 15px 15px;
		background: linear-gradient(to top, #21d0e2, #1bbad8);
	}

	&__form-wrapper {
		display: flex;
		flex-direction: column;
	}

	&__fieldset {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;

		&--wha {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__label {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include font-options ($whiteFontColor, 18px, normal, 18px);
		text-align: center;

		span {
			margin-bottom: 5px;
		}

		&--radio {
			
			span {
				display: inline-block;
				width: 176px;
				padding: 13px 0;
				
				font-family: $OpenSansFont, "Arial", sans-serif;
				@include font-options($whiteFontColor, 13px, bold, 13px);
				
				border: 2px solid $labelBorderColor;
				border-radius: $labelBorderRadius;
				background-color: $labelBgColor;
			}
		}
	}

	&__subtitle {
		margin-top: 0;
		text-align: center;
		@include font-options ($whiteFontColor, 18px, normal, 18px);
	}

	&__input {
		display: none;

		width: 80px;
		padding: 7px 0;

		font-family: $OpenSansFont, "Arial", sans-serif;
		@include font-options($whiteFontColor, 20px, normal, 20px);
		text-align: center;

		&--wha {
			display: inline-block;
			background-color: $inputBgColor;
			box-shadow: inset 0 0 0 1px $inputBxShadowColor;
			border: 0;
			border-radius: 3px;

			&::placeholder {
				color: $whiteFontColor;
				transition: opacity 0.3s;
			}

			&:focus::placeholder {
				opacity: 0;
			}
		}

		&:checked + span {
			background-color: $labelBgColor-active;
			border-color: $labelBgColor-active;
			color: $labelText-active;			
		}

		&:active + span {
			color: $whiteFontColor;
			background-color: $labelBgColor-focus;
		}
	}

	&__btn {
		width: 250px;
		align-self: center;
		padding: 14px 0;

		font-family: $IntroAlt, "Arial", sans-serif;

		@include font-options($whiteFontColor, 22px, normal, 22px);
		text-align: center;

		border: 2px solid $labelBgColor-active;
		background-color: #20cee1;

		&:focus, &:active {
			color: $whiteFontColor;
			background-color: $labelBgColor-focus;
		}
	}
}

@media (min-width: $tablet-width) {
	.calc {
		width: $tablet-width;
		padding-top: 45px;
		padding-bottom: 0;
		

		&__title {
			margin-bottom: 15px;
		}

		&__desc {
			margin-bottom: 40px;
		}

		&__form {
			padding: 50px 0;
		}

		&__form-wrapper {
			width: 726px;
			margin: 0 auto;
		}

		&__fieldset {
			align-items: center;

			&--wha {
				justify-content: center;
				margin-bottom: 40px;
				padding-left: 25px;
			}

			flex-direction: row;

			&:last-child {
				.calc__subtitle {
					margin-left: 0;
				}
			}
		}

		&__fieldset-wrapper {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
		}

		&__label {
			flex-direction: row;
			margin-right: 35px;
			
			&--radio {
				width: 182px;
			}

			&--body-type {
				margin-bottom: 15px;
			}

		}

		&__input {

			&--wha {
				margin-left: 20px;
			}
		}

		&__subtitle {
			margin-right: 20px;
			margin-left: 65px;
			margin-bottom: 0;

			&--body-type {
				align-self: flex-start;
				margin-left: 0px;
			}
		}
	}
}

@media (min-width: $desktop-width) {
	.calc {
		width: $desktop-container-width;
		padding-top: 32px;

		&__title {
			margin-bottom: 12px;
			@include font-options ($GreyFontColor, 34px, bold, 34px);
		}

		&__desc {
			@include font-options ($GreyFontColor, 22px, 300, 22px);
		}

		&__form {
			padding-bottom: 53px;
		}

		&__fieldset {
			margin-bottom: 37px;

			&:nth-child(2) {
				margin-bottom: 34px;
			}
        }

		&__fieldset-wrapper {
			flex-wrap: nowrap;
		}

		&__label {
			span {
				cursor: pointer;
			}

			&--radio {
				margin-right: 15px;

				&:hover {
					span {
						color: $whiteFontColor;
						background-color: $labelBgColor-focus;
						border-color: $labelBgColor-focus;
					}
				}
			}

			&--body-type {
				margin-bottom: 0;
			}
		}

		&__subtitle {
			&--body-type {
				align-self: center;
			}
		}

		&__btn {

			&:hover {
				background-color: $labelBgColor-focus;
			}

			cursor: pointer;
		}
	}
}