.company {
	display: flex;
	flex-direction: column;

	margin: 0 0 15px;
	padding-left: 0;
	list-style-type: none;

	&__item {
		font-family: $OpenSansFont, "Arial", sans-serif;
		@include font-options ($whiteFontColor, 13px, normal, 13px);
		margin-bottom: 5px;

		&--copyright {
			font-family: $IntroFont, "Arial", sans-serif;
			@include font-options ($whiteFontColor, 18px, bold, 18px);
			margin-bottom: 10px;
		}

		address {
			font-style: normal;
		}

		a {
			@include font-options ($whiteFontColor, 13px, bold, 13px);
			text-decoration: underline;

			&:active {
				color: $lightPurple;
			}
		}
	}
}

@media (min-width: $desktop-width) {
	.company {
		margin-right: 124px;
		
		&__item {
			
			margin-bottom: 12px;

			&--copyright {
				margin-bottom: 20px;
			}
		}
	}
}