.events {
	width: 320px;
	padding: 25px 15px;
	margin: 0 auto;

	background: #f3fcff url("../img/events/rock.jpg") no-repeat 50% 50%;
	background-size: cover;

	&__title {
		margin-top: 0;

		font-family: $IntroAlt, "Arial", sans-serif;
		text-align: center;
		@include font-options ($GreyFontColor, 25px, bold, 25px);
	}

	&__list {
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;

		margin: 0;
		padding-left: 0;
		list-style-type: none;
	}

	&__item {
		position: relative;
		text-align: center;
	}

	&__skier {
		position: absolute;
		left: 50px;
		bottom: 0;
	}

	&__date {
		position: absolute;
		top: 12px;
		left: 13px;

		display: flex;
		flex-direction: column;
		align-items: center;

		@include font-options ($whiteFontColor, 9px, 300, 9px);
		transform: skewY(-10deg);

		b {
			@include font-options ($whiteFontColor, 30px, bold, 30px);
		}
	}

	&__desc {
		position: absolute;
		top: 38px;
    	left: 20px;

    	width: 225px;
    	height: 80px;
    	padding-top: 20px;

		@include font-options ($whiteFontColor, 18px, normal, 20px);
		text-align: center;
		transform: skewY(-10deg);

		&:active {
			color: $darkPurple;
			text-decoration: underline;
		}
	}
}

@media (min-width: $tablet-width) {
	.events {
		width: $tablet-width;
		padding-top: 48px;

		&__list {
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		&__item {
			margin-right: 10px;
			margin-bottom: 10px;

			&:nth-child(3) {
				margin: 0 auto;
			}
		}

		&__skier {
			bottom: -35px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

@media (min-width: $desktop-width) {
	.events {
		width: 100%;
		padding-left: 0;
		padding-right: 0;

		&__list {
			width: $desktop-container-width;
			margin: 0 auto;
			align-items: flex-end;
		}

		&__title {
			@include font-options ($GreyFontColor, 34px, bold, 34px);
			margin-bottom: 21px;
		}

		&__item {
			margin-right: 0;
			margin-bottom: -17px;

			&:nth-child(2) {
				margin-bottom: 4px;
			}

			&:nth-child(3) {
				margin: 0 0 25px;
			}
		}

		&__skier {
			bottom: -13px;
    		left: 499px;
			transform: none;
		}
	}
}