@font-face {
  font-weight: normal;
  font-family: "Open-Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "Open-Sans";
  font-style: normal;
  src: url("../fonts/opensansbold-semibold.woff2") format("woff2"), url("../fonts/opensans-semibold.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open-Sans";
  font-style: normal;
  src: url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Intro";
  font-style: normal;
  src: url("../fonts/intro-light.woff2") format("woff2"), url("../fonts/intro-light.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Intro";
  font-style: normal;
  src: url("../fonts/intro.woff2") format("woff2"), url("../fonts/intro.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Intro";
  font-style: normal;
  src: url("../fonts/intro-bold.woff2") format("woff2"), url("../fonts/intro-bold.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Intro-alt";
  font-style: normal;
  src: url("../fonts/intro-regular-alt.woff2") format("woff2"), url("../fonts/intro-regular-alt.woff") format("woff");
}