.page-header {
	position: relative;
	display: flex;
	flex-direction: column;

	width: 320px;
	margin: 0 auto;

	&__toggle {
		position: absolute;
		top: 15px;
		right: 25px;
		width: 25px;
		height: 25px;
		border: none;

		background-color: transparent;
		cursor: pointer;

		&--closed {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 25px;
				height: 3px;

				background-color: $lightPurple;
				box-shadow: 0 22px 0 0 $lightPurple;
			}

			&::after {
				content: "";
				position: absolute;
				top: 11px;
				left: 0;
				width: 25px;
				height: 3px;
				background-color: $lightPurple;
			}
		}

		&--opened {
			&::before {
				content: "";
				position: absolute;
				top: 13px;
				left: 0;
				width: 25px;
				height: 3px;
				transform: rotate(45deg);
				background-color: $lightPurple;

				box-shadow: none;
			}

			&::after {
				content: "";
				position: absolute;
				top: 13px;
				left: 0;
				width: 25px;
				height: 3px;
				transform: rotate(135deg);
				background-color: $lightPurple;
			}
		}

		&--nojs {
			display: none;
		}
	}
}

@media (min-width: $tablet-width) {
	.page-header {
		width: $tablet-width;

		&__toggle {
			display: none;
		}

		&__wrapper {
			width: $tablet-width;
			margin: 0 auto;
		}
	}
}

@media (min-width: $desktop-width) {
	.page-header {
		width: 100%;

		&__wrapper {
			width: $desktop-container-width;
		}
	}
}