.page-footer {
	width: 320px;
	padding: 15px;
	margin: 0 auto;

	background-color: $darkPurple;
}

@media (min-width: $tablet-width) {
	.page-footer {
		width: $tablet-width;
		padding-top: 46px;
		padding-bottom: 57px;
		
		&__wrapper {
			display: flex;
			justify-content: space-between;

		}
	}
}

@media (min-width: $desktop-width) {
	.page-footer {
		width: 100%;
		padding-bottom: 27px;

		&__wrapper {
			width: $desktop-container-width;
			margin: 0 auto;
			justify-content: flex-start;
		}
	}
}