.site-list {
	width: 100%;

	margin: 0 0 10px;
	padding-left: 0;
	list-style-type: none;

	background-color: $darkPurple;
	transition: all 0.3s;

	&__item {
		border-bottom: 1px solid $lightPurple;
	}

	&__link {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;

		padding: 10px 15px;

		@include font-options($whiteFontColor, 12px, 300, 12px);
		text-transform: uppercase;

		&:active {
			color: $lightPurple;
		}
	}

	&--closed {
   		display: none;
  	}

	&--opened {
	    display: block;
	}

  	&--nojs {
    	display: none;
  	}
}

@media (min-width: $tablet-width) {
	.site-list {
		display: flex;
		align-items: flex-start;

		width: 500px;

		background-color: $whiteFontColor;

		&__item {
			border: none;
		}

		&__link {
			flex-direction: column;
			color: $GreyFontColor;

			&:active {
				.site-list__link-wrapper {
					background-color: $darkPurple;
				}
			}
		}

		&__link-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 60px;
			height: 60px;
			margin-bottom: 15px;

			background-color: $labelBgColor;
			border-radius: 50%;
		}

		&__text {
			text-align: center;
		}
	}
}

@media (min-width: $desktop-width) {
	.site-list {
		width: 672px;
		justify-content: space-between;

		&__item {

			&:nth-child(4) {
				margin-left: 15px;
			}

			&:last-child {
				margin-left: 18px;
			}
		}
		
		&__link {
			position: relative;
			font-weight: bold;
			padding: 0;

			&::after {
				content: "";
				bottom: 23px;
				position: absolute;
				width: 50px;
    			height: 10px;
				border-radius: 50%;
				background: linear-gradient(to bottom, #ebebeb 0%, #ddd 100%);
				z-index: 1;
				transition: all 0.3s;
			}

			&:hover,
			&:focus {
				color: $darkPurple;

				.site-list__link-wrapper {
					transform: translateY(-20px);
					background-color: $darkPurple;
				}

				&::after {
					width: 41px;
    				height: 8px;
				}
			}
		}

		&__link-wrapper {
			z-index: 2;
			transition: all 0.3s;
			margin-bottom: 18px;
		} 
	}
}