.site-nav {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0 15px;

	&__logo {
		margin-bottom: 10px;
	}
}

@media (min-width: $tablet-width) {
	.site-nav {
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
		margin-bottom: 27px;
	}
}
