.slider {
	width: 320px;
	margin: 0 auto;
	overflow: hidden;
	user-select: none;

	&__list {
		position: relative;
		width: calc(100% * 3);
		
		display: flex;
		margin: 0;
		padding-left: 0;
		list-style: none;
		transition: 1s;
		transition-timing-function: ease-in-out;
	}

	&__item {
		position: relative;
		width: calc(100% / 3);
		height: 225px;
		background: url("../img/slider/slider-1.jpg") no-repeat 50% 50%;
		background-size: cover;

	}

	&__content {
		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		padding: 10px;
		background-color: rgba(215, 53, 95, 0.75);
		z-index: 1;
	}

	&__link {
		display: block;

		&:active {
			.slider__title,
			.slider__desc {
				color: $lightPurple;
			}

			.slider__title {
				text-decoration: underline;
			}
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 10px;

		font-family: $IntroAlt, "Arial", sans-serif;
		@include font-options($whiteFontColor, 21px, bold, 21px);
	}

	&__desc {
		margin-top: 0;
		font-family: $OpenSansFont, "Arial", sans-serif;
		@include font-options($whiteFontColor, 14px, normal, 14px);
	}

	&__toggle {
		background-color: transparent;
		border: 0;
		outline: none;
	}
}

@media (min-width: $tablet-width) {
	.slider {
		width: $tablet-width;
		padding: 0;

		&__item {
			height: 400px;
		}

		&__content {
			bottom: 20px;

			width: 400px;
			padding: 35px 40px 20px 40px;
		}

		&__title {
			@include font-options($whiteFontColor, 34px, bold, 34px);
		}

		&__desc {
			@include font-options($whiteFontColor, 14px, 300, 14px);
		}
	}
}

@media (min-width: $desktop-width) {
	.slider {
		width: $desktop-container-width;
		padding: 0;

		&__link {
			&:hover,
			&:focus {
			.slider__title,
			.slider__desc {
				color: $lightPurple;
			}

			.slider__title {
				text-decoration: underline;
			}
		}
		}

		&__content {
			bottom: 83px;
			width: 440px;
		}

		&__title {
			margin-bottom: 25px;
		}

		&__desc {
			margin-bottom: 20px;
		}

		&__toggle {
			cursor: pointer;
		}
	}
}