.social {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding-left: 0;
	margin: 0 0 15px;
	list-style-type: none;

	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	&__item {
		margin-right: 10px;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 45px;
		height: 45px;

		background-color: $lightPurple;
		border-radius: 50%;

		transition: all 0.3s;
		
		&--vk:active {
			background-color: #4d7198;
		}

		&--fb:active {
			background-color: #3b5998;
		}

		&--ok:active {
			background-color: #f2720c;
		}

		&--tube:active {
			background-color: #cc181e;
		}		

		&:active {
			border: 2px solid $whiteFontColor;
		}
	}

	&__rules {
		margin-top: 0;
		
		font-family: $OpenSansFont, "Arial", sans-serif;
		@include font-options($whiteFontColor, 10px, normal, 30px);

		&-link {
			font-family: $OpenSansFont, "Arial", sans-serif;
			@include font-options ($whiteFontColor, 12px, bold, 12px);
		}
	}
}

@media (min-width: $desktop-width) {
	.social {
		padding-top: 3px;
		margin-bottom: 31px;

		&__item  {
			margin-right: 19px;

			&:last-child {
				margin-right: 0;
			}
		}

		&__link {
			&--vk:hover,
			&--vk:focus {
			background-color: #4d7198;
			}

			&--fb:hover,
			&--fb:focus {
				background-color: #3b5998;
			}

			&--ok:hover,
			&--ok:focus {
				background-color: #f2720c;
			}

			&--tube:hover,
			&--tube:focus {
				background-color: #cc181e;
			}		

			&:hover,
			&:focus	{
				border: 2px solid $whiteFontColor;
			}
		}
	}
}
