.stats {
	position: relative;
	display: flex;
	flex-direction: column;

	width: 320px;
	margin: 0 auto;
	padding: 0 15px 73px;

	background: url("../img/stats/body-bg--bottom.jpg") no-repeat 50% 26%;
	background-size: cover;

	&__img {
		position: absolute;
	    left: 80px;
	    bottom: -24px;
	    width: 150px;
	    height: 150px;

	    animation-name: walk;
	    animation-duration: 10s;
	    animation-iteration-count: infinite;
	    animation-timing-function: linear;
	}

	&__table {
		position: relative;
		padding: 0 7px;

		&::before {
			content: "";
		    position: absolute;
		    top: 143px;
		    left: 44px;
		    width: 8px;
		    height: 80px;
			background: linear-gradient(to right, #abbbbd 0%, #c4d4d6 100%);
		}

		&::after {
			content: "";
			position: absolute;
			top: 143px;
	    	right: 44px;
			width: 8px;
			height: 80px;
			background: linear-gradient(to right, #abbbbd 0%, #c4d4d6 100%);
		}
	}

	&__text {
		outline: 7px solid #d3eff2;
		padding: 11px 6px;
		@include font-options($GreyFontColor, 14px, 300, 21px)

		b {
			font-family: $IntroAlt, "Arial", sans-serif;
		 	@include font-options($GreyFontColor, 18px, bold, 25px);
		}
	}

	&__meters,
	&__kk {
		font-family: $OpenSansFont, "Arial", sans-serif;
		@include font-options ($labelBgColor-focus ,18px, bold, 25px);
	}
}

@media (min-width: $tablet-width) {
	.stats {
		width: $tablet-width;
		padding-top: 47px;

		flex-direction: row;
		justify-content: center;

		&__table {
			width: 372px;
			border: 7px solid $whiteFontColor;

			&::before,
			&::after {
				top: 146px;
    			height: 73px;
			}
		}

		&__text {
			margin: 8px 0;
			padding: 24px 33px;
		}
	}
}

@media (min-width: $desktop-width) {
	.stats {
		width: 100%;
		padding-top: 38px;

		&__img {
			bottom: -48px;
			width: 277px;
			height: 300px;
		}
	}
}
