.sub-menu {
	display: flex;
	align-items: center;
	
	margin: 0 auto;
	padding: 10px 15px;
	list-style-type: none;


	&__wrapper {
		background-color: $darkPurple;
		margin-bottom: 10px;
	}

	&__item {

		&:nth-child(2) {
			display: none;
		}

		&--img {
			margin-right: 35px;
			padding: 0;

			&:last-child {
				display: none;
			}
		}
	}

	&__text {
		display: none;
	}

	&__link {
		@include font-options(#ff5e85, 14px, normal, 14px);

		b {
			@include font-options($whiteFontColor, 20px, normal, 20px);
		}

		&:acitve {
			color: $lightPurple;

			b {
				color: $lightPurple;
			}

			span {
				color: $lightPurple;
			}
		}
	}
}

@media (min-width: $tablet-width) {
	.sub-menu {
		padding: 0;

		justify-content: space-between;

		&__wrapper {
			background: linear-gradient(to right, #e23760 0%, #f85980 100%);
		}

		&__item {

			&:nth-child(2) {
				display: inline-block;
			}

			&--img {
				margin-right: 0;

				&:last-child {
					display: inline-block;
				}
			}
		}

		&__link {
			padding: 10px 0;

			&--img {
				display: flex;
				align-items: center;
				padding-left: 15px;
				padding-right: 20px;

				background-color: $darkPurple;

				&:active {
					background-color: #ad1d40;
				}
			}
		}

		&__img {
			margin-right: 10px;
		}

		&__text {
			display: inline-block;
			@include font-options($whiteFontColor, 12px, 300, 12px);
			text-transform: uppercase;
		}
	}
}

@media (min-width: $desktop-width) {
	.sub-menu {
		width: $desktop-container-width;

		&__wrapper {
			margin-bottom: 52px;
		}

		&__item {
			&:first-child {
				margin-right: 1px;
			}

			&:last-child {
				margin-left: 12px;

				.sub-menu__link--img {
					padding-left: 29px;
				}

				.sub-menu__img {
					margin-right: 26px;
				}
			}
		}

		&__img {
			margin-right: 13px;
		}

		&__link {
			
			&--img {
				padding-right: 26px;
			}

			&:hover,
			&:focus {
				color: $lightPurple;

				b {
					color: $lightPurple;
				}

				span {
					color: $lightPurple;
				}
			}
		}
	}
}