// fonts
$IntroFont: "Intro";
$OpenSansFont: "Open-Sans";
$IntroAlt: "Intro-alt";

//font-colors
$whiteFontColor: #ffffff;
$GreyFontColor: #626161;

//device-width
$tablet-width: 768px;
$desktop-width: 1150px;
$desktop-container-width: 978px;

//colors

$darkPurple: #cd355a; 
$lightPurple: rgba(255, 94, 133, 1);
$themeColor-acitve: $lightPurple;
$themeRgbaColor: rgba(215, 53, 95, 0.95);;


$inputBgColor: #12a9c4;
$inputBxShadowColor: rgba(1, 169, 217, 0.75);
$labelBorderColor: rgb(65, 237, 255);
$labelBorderRadius: 20px;
$labelBgColor: #1ec4dd;
$labelBgColor-active: #ffffff;
$labelBgColor-focus: #41edff;
$labelText-active: $labelBorderColor;